<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h4>入力エラーが発生しています。<br>
    以下の項目を入力してください。</h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
