<div class="position-relative d-inline-block">
  <%= image_tag "aboutpet.jpg", class: "img-fluid w-100", style: "max-width:800px;" %>
  
  <div class="position-absolute top-50 start-50 translate-middle text-dark py-3 border border-dark bg-white" style="opacity:0.85; max-width:400px;">
    <p class="text-center fw-bold">
      ようこそ、PetsMeetupへ！！<br>
      このサイトは、ペットを飼っている方・動物が好きな方<br>
      大歓迎なアニマルコミュニティサイトになります。<br>
      自慢の可愛いペットを存分に自慢してください！
    </p>
  </div>
</div>

