<div class="container my-4">
  <div class="row">

    <div class="col-9">
      <div class="position-relative d-inline-block">
        <%= image_tag "aboutpet.jpg", class: "img-fluid", style: "width: 80%;" %>
        <div class="position-absolute text-dark py-3 border border-dark"
          style="top: 50%; left: 40%; transform: translate(-50%, -50%); width: 400px;
          background-color: rgba(255,255,255,0.7);">
          <p class=" text-center font-weight">ようこそ、PetsMeetupへ！！<br>
          このサイトは、ペットを飼っている方・動物が好きな方<br>
          大歓迎なアニマルコミュニティサイトになります。<br>
          自慢の可愛いペットを存分に自慢してください！</p>
        </div>
      </div>

      <h3 class="fw-bold my-3">新着投稿</h3>
      <div class="row">
        
          <div class="col-3 text-center mb-4">
            <div class="border p-2">
              
            </div>
          </div>
      </div>

      <div class="d-flex justify-content-end">
        
      </div>
    </div>
  </div>
</div>
