<h2>ユーザー一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>メール</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %>さん</td>
        <td><%= user.email %></td>
        <td><%= link_to "詳細", admin_user_path(user), class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
