<footer class="bg-orange text-center py-3 border-top" style="border-color:black !important;">
  <%= image_tag "logo.png", style: "height: 50px;" %>
  <p class="mb-0 mt-2 small text-muted">© 2025 PetsMeetup. All Rights Reserved.</p>
</footer>
